html {
    background-color: black;
    
    background-image: url("/img/404_Mobile.svg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;
}

.ui-loader-header {
    display: none;
}