html, body {
    font-family: futurapt;
    margin:0;
    padding:0;
    background-color: white;
    color: black;
}

div.title {
    float: left;
    width:calc(100% / 3);
    height: 90vh;
    padding: 0;
    margin: 0;
}

div.title table {
    width: 100%;
    height: 100%;
    text-align: center;
}

div.title table td {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 150%;
}

div.item {
    float: left;
    width:calc(100% / 3);
    text-align: center;
}

div.item img {
    width: 90%;
    margin: 13vh 0 0 0;
}

div.description {
    width:calc(100% / 3);
    height: 90vh;
    float: left;
    padding: 0;
    margin: 0;
}

div.description table {
    width: 100%;
    height: 100%;
}

div.description table td {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 150%;
}

div.bogo {
    width:calc(100% / 4);
    margin: 0 auto 0 auto;
}

div.bogo div div {
    display: block;
    text-align: center;
}

div.bogo div div a.logo {
    clear: none;
}

div.bogo div div a.left{
    text-decoration: none;
}

div.bogo div div a.logo {
    text-decoration: none;
}

div.bogo div div a.right{
    text-decoration: none;
}

div.bogo div div a.left img {
    width: 7.5%;
}

div.bogo div div a.logo img {
    margin: auto 4vh auto 4vh;
    width: 20%;
}

div.bogo div div a.right img{
    width: 7.5%;
}

@font-face {
    font-family: futurapt;
    src: url(/fonts/4d6d50ec-b049-44ba-a001-e847c3e2dc79.ttf)
}