@font-face {
    font-family: avenirnext;
    src: url(../fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
    font-family: avenirnext;
    src: url(../fonts/AvenirNextLTPro-Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: avenirnext;
    src: url(../fonts/AvenirNextLTPro-It.otf);
    font-style: italic;
}