html, body {
    font-family: futurapt;
    margin:0;
    padding:4vh 0 0 0;
    background-color: #000000;
    text-align: center;
}

p {
    padding:0;
    margin:0 0 4vh 0;
    font-size: 300%;
}

a {
    padding: 0 1vh 0 1vh;
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    background-color: #FFFFFF;
    color: #000000;
}

@font-face {
    font-family: futurapt;
    src: url(/fonts/4d6d50ec-b049-44ba-a001-e847c3e2dc79.ttf)
}